body {
    background-color: darkblue;
}

#text {
    background-color: black;
    color: white;
    padding: 10px;
}

#game {
    max-width: 500px;
    max-height: 400px;
    background-color: lightgray;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.float-controller {
    float: left;
}

#controls {
    border: 1px;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat {
    padding-right: 10px;
}

#instructions {
    background-color: lightgray;
    /* max-width: 500px;
    max-height: 400px; */
    color: white;
    /* margin: 0 auto;
    padding: 10px; */
}

.float-instructions {
    float: left;
    max-width: 400px;
    max-height: 500px;
    margin: 0 auto;
    padding: 30px;
}

.float-game {
    float: right;
}
