body {
    background-color: red;
}

#text {
    background-color: black;
    color: white;
    padding: 10px;
}

#game {
    max-width: 700px;
    max-height: 900px;
    background-color: lightgray;
    color: red;
    margin: 0 auto;
    padding: 10px;
    flex: 1;
    text-align: center;
}

#controls {
    border: 1px;
    padding: 5px;
}

#monsterStats {
    display: none;
    border: 1px black solid;
    color: white;
    padding: 5px;
    background-color: red;
}

.stat {
    padding-right: 10px;
}

#instruction {
    background-color: black;
    max-width: 500px;
    max-height: 500px;
    color: white;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    font-size: 15px;
    text-align: end;
}

.text {
    text-align: center;
}


